.photo-field {
  width: 100%;
  margin-top: 1rem;

  label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__title {
    font-size: 1.6rem;
    color: var(--color-light-secondary);
  }

  .upload__button {
    height: 5.4rem;
    width: 5.4rem;

    padding: 1.6rem;
    margin-right: 1rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 50%;
    background-color: var(--color-white);
    background-size: cover;
    border: 1px solid var(--color-dark-primary);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &.error .upload__button {
    border-color: var(--color-tertiary);
  }

  input:focus ~ label .upload__button  {
    border-color: var(--color-secondary);
  }

  input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
  }
}