.step {
  height: 100%;
  border: none;
  margin: auto 0;
  padding: 2.44rem;

  &__title {
    font-size: 2.4rem;
    font-weight: bold;
    margin: 5rem 0;
    padding-top: 8rem;
    border-bottom: 1px var(--color-dark-primary) solid;
  }

  & > :nth-child(1n):not(legend) {
    margin-bottom: 2rem;
  }

  @media (min-width: 750px) {
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;

    &__title {
      font-size: 3.4rem;
    }

    @media (min-width: 800px) {
      &__field-block {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1.4rem;
      }

      .photo__field {
        align-self: flex-end;
        margin-top: 0;
      }
    }
  }
}
