@keyframes show-fieldset {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.step {
  position: relative;
  height: 100%;
  border: none;
  margin: auto 0;
  padding: 2.44rem;

  opacity: 0;
  transform: translateX(-50%);

  animation: show-fieldset 0.4s ease-in forwards;

  &__title {
    font-size: 2.4rem;
    font-weight: bold;
    margin: 5rem 0;
    padding-top: 4rem;
    border-bottom: 1px var(--color-dark-primary) solid;
  }

  .default-input,
  .select-field,
  .photo-field {
    margin-bottom: 2rem;
  }

  @media screen and (min-width: 500px) and (max-width: 750px),
    screen and (min-width: 820px) {
    &__field-block {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 1.4rem;
    }

    .photo-field {
      align-self: flex-end;
    }
  }

  @media screen and (min-width: 750px) {
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;

    &__title {
      font-size: 3.4rem;
    }
  }
}
