.select-field {
  margin-bottom: 1.4rem;

  label {
    display: block;
  }

  &__title {
    font-size: 1.6rem;
    color: var(--color-light-secondary);
  }

  .select {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--color-white);
    border: 1px solid var(--color-dark-primary);
    margin-top: 0.6rem;

    .option__legend {
      width: 100%;
      padding: 1rem;
      border-radius: 0.5rem;
      text-align: center;

      font-size: 1.6rem;
      cursor: pointer;

      transition: background-color linear 0.4s;

      &:hover {
        background-color: var(--color-blue);
      }
    }

    &:focus-within {
      border-color: var(--color-secondary);
    }

    input:checked + label,
    input:focus + label {
      background-color: var(--color-primary);
    }

    input {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;
      cursor: pointer;
    }

    span {
      display: block;
    }

    &.error {
      border: 1px solid var(--color-tertiary);
    }

    @media screen and (min-width: 500px) and (max-width: 750px),
      screen and (min-width: 820px) {
      &.two-columns {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      &.four-columns {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}
