* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;

  --color-white: #fff;
  --color-primary: #ebd0ce;
  --color-dark-primary: #e6dbda;
  --color-light-primary: #f7eceb;
  --color-secondary: #545871;
  --color-light-secondary: #9597a6;
  --color-tertiary: #b8817d;
  --color-blue: #dadbe6;
  --color-pale-blue: #f0f1f7;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--color-light-primary);
}

.error-field {
  font-size: 1.6rem;
  margin-top: 0.5rem;
  color: var(--color-tertiary);

  display: flex;
}

@media (min-width: 750px) {
  .App {
    display: grid;
    grid-template-columns: minmax(250px, 450px) 1fr;
  }
}