.why-us {
  margin-left: 2rem;
}

.show-step {
  position: absolute;
  margin-left: 3rem;
  transition: opacity linear 0.4s;

  .select {
    position: relative;
    height: 6rem;

    font-size: 2rem;

    border-left: 1px solid white;

    &:last-child {
      border: none;
    }

    label {
      margin-left: 3rem;
    }

    &__check {
      position: absolute;
      width: 2.4rem;
      height: 2.4rem;

      border-radius: 100%;
      border: 0.4rem solid var(--color-light-secondary);
      background-color: var(--color-light-secondary);

      top: -0.8rem;
      left: -1.2rem;

      transition: background-color, border-color 0.6s linear;
    }

    &__input:checked ~ .select__check {
      border-color: var(--color-white);
      background: var(--color-secondary);
    }

    &__input:checked ~ label {
      color: var(--color-white);
    }

    &__input {
      position: absolute;
      pointer-events: none;
      opacity: 0;
      cursor: pointer;
    }
  }
}
